
/* GLOBAL STYLES
-------------------------------------------------- */


body {
  padding-bottom: 40px;
  color: #5a5a5a;
  height: 100%;
}

h3 {
  text-align: center;
}

button{
    margin: 1%;
}

th {
  border: solid 2px;
  width:  50%;
  text-align: center;
}

img {
  margin: auto;
  margin-left: 30%;
  max-height: 100%;
  max-width: 100%;
  width: 35%;
}

input {
  width: 20%;
  margin-top: 1%;
}

table{
  width: 100%;
}

li{
    padding-top: 1%;
    padding-left: 45%;
}

#success{
  margin-top: 2%;
}

.button {
    width: 100%;
    text-align: center;
}

.wrapper{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    height: 100%;
    width: 100%;
}

/* MENU
-------------------------------------------------- */
.marketing p {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    text-align: center;
}